
<span id="page-content-start"></span>

<section class="normal-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="">Home</a></li>
          <li class="about-person.html">Sign Up</li>
        </ol>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <h2>Sign Up</h2>
        <p>
          Have an existing account? <%= render "devise/shared/links" %>
        </p>
      </div>
      <div class="col-md-8 col-xs-12">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="btn-group-standard">
            <%= f.text_field :first_name, class: ['text-box-outline','wow','fadeInUp','btn-size-half'], placeholder: 'First Name', autofocus: true %>
            <%= f.text_field :last_name, class: ['text-box-outline','wow','fadeInUp','btn-size-half'], placeholder: 'Last Name' %>
          </div>
          <div class="btn-group-standard">
            <%= f.number_field :id_number, class: ['text-box-outline','wow','fadeInUp','btn-size-two-thirds'], placeholder: 'ID #' %>
            <%= f.number_field :grade, class: ['text-box-outline','wow','fadeInUp','btn-size-third'], placeholder: 'Grade #' %>
          </div>
          <%= f.text_field :username, class: ['text-box-outline','wow','fadeInUp','fill-width'], placeholder: 'Username' %>
          <%= f.email_field :email, class: ['text-box-outline','wow','fadeInUp','fill-width'], placeholder: 'Email' %>
          <% if @minimum_password_length %>
          <p class='wow fadeInLeft'>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          </p>
          <% end %>
          <div class="btn-group-standard">
            <%= f.password_field :password, class: ['text-box-outline','wow','fadeInUp','btn-size-half'], placeholder: 'Password', autocomplete: 'off' %>
            <%= f.password_field :password_confirmation, class: ['text-box-outline','wow','fadeInUp','btn-size-half'], placeholder: 'Re-Type Password', autocomplete: 'off' %>
          </div>

          <%= f.submit "Sign up", class: ['btn-outline-white','wow','fadeInUp','fill-width'] %>
          <% end %>
      </div>

    </div>
  </div>
</section>
