<%= form_for @user, html: { multipart: true } do |f| %>
<% if @user.errors.any? %>
<div id="errors">
  <h4><%= pluralize(@user.errors.count, "error") %> prevented this user from saving</h4>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="btn-group-standard">
<%= f.text_field :first_name, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-6"], placeholder: 'First Name' %>
  <%= f.text_field :last_name, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-6"], placeholder: 'Last Name' %>
</div>

<%= f.file_field :avatar, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-12"] %>

<div class="btn-group-standard">
<%= f.number_field :id_number, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-4"], placeholder: "ID Number" %>
<%= f.number_field :grade, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-2"], placeholder: 'Grade' %>
<%= f.text_field :email, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-6"], placeholder: "Email" %>
</div>
<%= f.text_area :bio, class: ["text-area-outline", "wow", "fadeInUp", "col-xs-12"], placeholder: "Short Bio...", rows: 5 %>

<%= f.submit :submit_user, value: "Save", class: ["btn-outline-white", "wow", "fadeInUp", "col-xs-12"] %>
<% end %>
