
<div id="user-box-<%= user.id %>" class="col-md-4 col-sm-6 col-xs-12 text-centered avatar-hover">
    <% if user_signed_in? and current_user.role == "admin" %>
        <a value="<%= user.id %>" class="d-btn">Remove User</a>
    <% end %>
	<div class="user-block-flag">
		<%= user.first_name + " " + user.last_name %>
	</div>
    <%= link_to user_path(user) do %>
	<%= image_tag user.avatar.url(:large), class: ['img-responsive', 'fill-width'] %>
    <% end %>

</div>

