<section>

  <div class="show-case about-img" style="background-image: url('<%= Content.find(10).media.url(:original) %>')">
    
    <%= render :partial => "shared/bignavbar" %>

    <div class="big-filler">
      <div class="vert-centered-element">
        <div class="wow fadeInUp" data-wow-offset="-200"><h2 class="showcase-text">About Us</h2></div>

      </div>
      <div class="btn-see-down wow bounce animate-infinite" data-wow-offset="-400">
        <div class="glyphicon glyphicon-chevron-down" data-wow-offset="-400"></div>
      </div>
    </div>
  </div>

</section>

<span id="page-content-start"></span>

<section class="normal-section space-bottom-l">
  <div class="container">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">About</li>
      </ol>
    </div>
      <div class="col-xs-12">
        <%= markdown(Content.find(11).text) %>
      </div>
      <%= render @users %>
  </div>
</section>