
<span id="page-content-start"></span>

<section class="normal-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol class="breadcrumb">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', '/about' %></li>
          <li class="about-person.html"><%= @user.first_name + " " + @user.last_name %></li>
        </ol>
      </div>
      <div class="col-xs-4 col-sm-3 col-md-2">
        <% if @user.avatar != nil %>
        <%= image_tag @user.avatar.url(:medium), class: ['img-responsive'] %>
        <% else %>
        <%= image_tag 'film-production', class: ['img-responsive'] %>
        <% end %>
      </div>
      <div class="col-xs-8 col-sm-9 col-md-10">
        <h3><%= @user.first_name + " " + @user.last_name %></h3>
        <p>
          Grade: <%= @user.get_current_grade %><br>
          ID Number: <%= @user.id_number %><br>
          Email: <%= @user.email %>
        </p>
      </div>
      <% if @user.role == "admin" %>
        <div class='col-xs-12'>
          <h3>Admin Controls</h3>
          <ul>
            <li><a href='/contents'>Edit Static Content</a></li>
            <li><a href='/user_approval'>Approve New Users</a></li>
          </ul>
        </div>
      <% end %>
      <div class="col-xs-12">
        <h3>About</h3>
        <p>
          <% if !@user.bio.nil? %>
            <%= markdown(@user.bio) %>
          <% end %>
          <% if can? :edit, @user %>
          <%= link_to 'Edit', edit_user_path %>
          <% end %>
        </p>
      </div>

      <div class="col-xs-12">
          <h3>Videos <%= @user.first_name + " " + @user.last_name %> worked on:</h3>
          <%= render :partial => "shared/videosearchform" %>
        <div class="row">

          <% if can? :create, @video %>
          <div class="col-sm-6 watch-block-square">
            <div class="block-filler">
              <div class="abs-centered-element">
               <i class="fa fa-plus"></i>
             </div>
           </div>
         </div>
         <% end %>

         <div id="search-videos">
           <% @videos.each do |vid| %>
           <%= render :partial => 'video', :locals => { :video => vid } %>
           <% end %>
         </div>

       </div>
     </div>

   </div>
 </section>

 <% content_for :footer do %>
 <script>
  window.App = window.App || {};
  window.App.Data = window.App.Data || {};
  window.App.Data.user = <%= @user.id %>;
</script>
<%= javascript_include_tag "users" %>
<% end %>
