<%= form_for @video do |f| %>
<% if @video.errors.any? %>
<div id="errors">
  <h4><%= pluralize(@video.errors.count, "error") %> prevented this video from saving</h4>
  <ul>
    <% @video.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="btn-group-standard">
  <%= f.text_field :show, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-2"], placeholder: :show %>
  <%= f.text_field :title, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-10"], placeholder: :title %>
</div>
  <%= f.text_area :bite, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-12"], placeholder: :bite, rows: 5 %>
  <%= f.text_field :computer, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-12"], placeholder: "Computer" %>
<div class="selectDiv">
  <%= f.select(:category) do %>
  <% [['Show',1],['Skit', 2],['Promo',3],['Story',4]].each do |c| -%>
  <%= content_tag(:option, c.first, value: c.last) %>
  <% end %>
  <% end %>
</div>
<div id="list_of_jobs" class="row col-xs-12">
  <div class="col-xs-4 table-header">
    <p>Name</p>
  </div>
  <div class="col-xs-7 table-header">
    <p>Job</p>
  </div>
  <div class="col-xs-1 table-header">
  </div>
  
  <% @assigned_jobs.each do |job| 

    job_id = ''
    full_name = ''
    job_descriptoin = ''

    if job['full_name'] != nil
      job_id = job['full_name']
      full_name = job['full_name']
      job_descriptoin = job['job_description']
    else
      job_id = job.first_name+job.last_name+job.id.to_s
      full_name = job.first_name + " " + job.last_name
      job_descriptoin = job.job_descriptoin
    end

    %>

    <span id="user-<%= job_id %>">
      <div class="col-xs-4">
        <p><%= full_name %></p>
      </div>
      <div class="col-xs-7">
        <p><%= job_descriptoin %></p>
      </div>
      <div class="col-xs-1">
        <p><a onclick="$('#user-<%= job_id %>').remove();" id="delete-<%= job_id %>">Delete</a></p>
      </div>
      <input type="hidden" name="assigned_jobs[][full_name]" value="<%= full_name %>" />
      <input type="hidden" name=assigned_jobs[][job_description] value="<%= job_descriptoin %>" />
    </span>

    <% end %>
  </div>
  <div class="col-xs-12">
    <p id="job_error"></p>
  </div>
  <div class="btn-group-standard">
    <input id="user_name_search" type="text" class="text-box-outline wow fadeInUp col-xs-4" placeholder="Name" />
  <!--<select id="user_name_search" type="text" class="text-box-outline wow fadeInUp col-xs-4" placeholder="Name">
    <% @users.each do |user| %>
          <option value="<%= user.first_name + " " + user.last_name %>"><%= user.first_name + " " + user.last_name %></option>
      <% end %>
    </select>-->
    <input id="job_description" type="text" class="text-box-outline wow fadeInUp col-xs-8" placeholder="Job Description" />
  </div>
  <a id="add_job" class="btn-outline-white wow fadeInUp fill-width "><span class="fa fa-plus"></span></a>
  <hr>
  <p>Leave Blank Until Video Is Done:</p>
  <div class="btn-group-standard">
  <%= f.text_field :link, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-6"], placeholder: :link %>
  <%= f.text_field :duration, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-6"], placeholder: "Duration" %>
  </div>
  <%= f.text_area :description, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-12"], placeholder: :description, rows: 5 %>
  <%= f.text_field :keywords, class: ["text-box-outline", "wow", "fadeInUp", "col-xs-12"], placeholder: :keywords %>
  <%= f.submit :submit_video, value: "Save", class: ["btn-outline-white", "wow", "fadeInUp", "col-xs-12"] %>
  <% end %>

  <% content_for :footer do %>
  <script type="text/javascript" async defer>
    var availableUsers;
    $(function() {
      availableUsers = [
      <% @users.each do |user| %>
      <% if user != @users.last %>
      "<%= user.first_name + " " + user.last_name %>",
      <% else %>
      "<%= user.first_name + " " + user.last_name %>"
      <% end %>
      <% end %>
      ];
      $("#user_name_search").autocomplete({
        source: availableUsers
      });
    });
  </script>
  <%= javascript_include_tag "videos.form" %>
  <% end %>