<%
#url = request.original_fullpath
#uri = URI.parse(url);
#params = []

#if uri.query != nil
 #params = CGI.parse(uri.query);
#end

%>

<span id="page-content-start"></span>

<section class="normal-section">
  <div class="container">
    <div class="col-xs-12">
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">Videos</li>
      </ol>
      <h2>Videos</h2>
      <%= render :partial => "shared/videosearchform" %>
    </div>



  </div>
</section>

<section class="normal-section">
  <div class="container-fluid">
  <div id='search-videos' class="row">
  <% if can? :create, Video %>
    <%= link_to new_video_path do %>
      <div class="col-md-6 col-sm-6 col-xs-12 watch-block wow flipInX" style="background-image: url('<%= asset_path 'film-production.jpg' %>')">
        <div class="block-filler">
          <div class="abs-centered-element">
            <h4 class="block-header-text">New Video</h4>
            <i class="fa fa-plus"></i>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to '/pending_videos' do %>
      <div class="col-md-6 col-sm-6 col-xs-12 watch-block wow flipInX" style="background-image: url('<%= asset_path 'filming-at-night.jpg' %>')">
        <div class="block-filler">
          <div class="abs-centered-element">
            <h4 class="block-header-text">Pending Videos</h4>
            <i class="fa fa-search"></i>
          </div>
        </div>
      </div>
    <% end %>
    <% end %>
  <% if !@category_is_set %>
    <%
    count = 0
    new_show_index = [-1, -1]
    %>
    <% @videos.each_with_index do |video, i| %>
      <% break if count > 1 %>
      <% if video.category ==1 %>
        <%
        video.category = -1
        new_show_index[count] = i
        count += 1
        %>
        <%= render video %>
      <% end %>
    <% end %>
      <div class="col-md-6 col-sm-12 col-xs-12 watch-block-show wow flipInX"  style="background-image: url('<%= Content.find(14).media.url(:original) %>')">
        <%= link_to '/videos?category=1' do %>
        <div class="block-filler">
          <div class="abs-centered-element">
           <h3 class="block-header-text">Watch Shows</h3>
           <i class="fa fa-play"></i>
         </div>
       </div>
       <% end %>
     </div>
     <div class="col-md-6 col-sm-12 col-xs-12 watch-block-shorts wow flipInX animation-delay"  style="background-image: url('<%= Content.find(15).media.url(:original) %>')">
      <%= link_to '/videos?category=2' do %>
      <div class="block-filler">
        <div class="abs-centered-element">
         <h3 class="block-header-text">Watch Shorts</h3>
         <i class="fa fa-play"></i>
       </div>
     </div>
     <% end %>
   </div>
  <div class="col-md-6 col-sm-12 col-xs-12 watch-block-show wow flipInX"  style="background-image: url('<%= Content.find(16).media.url(:original) %>')">
    <%= link_to '/videos?category=3' do %>
    <div class="block-filler">
      <div class="abs-centered-element">
       <h3 class="block-header-text">Watch Promos</h3>
       <i class="fa fa-play"></i>
     </div>
   </div>
   <% end %>
 </div>
 <div class="col-md-6 col-sm-12 col-xs-12 watch-block-shorts wow flipInX animation-delay" style="background-image: url('<%= Content.find(17).media.url(:original) %>')">
  <%= link_to '/videos?category=4' do %>
  <div class="block-filler">
    <div class="abs-centered-element">
     <h3 class="block-header-text">Watch Stories</h3>
     <i class="fa fa-play"></i>
   </div>
 </div>
 <% end %>
</div>
  <% @videos.each_with_index do |video, i| %>
    <% if i != new_show_index[0] and i != new_show_index[1] %>
      <% render video %>
    <% end %>
  <% end %>
  <% else %>
    <%= render @videos %>
  <% end %>

    </div>
  </div>
</section>

<% content_for :footer do %>
<%= javascript_include_tag "videos" %>
<% end %>
