<%

# Parse video id
start_pos = @video.link.index("v=")+2;
end_pos = (@video.link[start_pos..@video.link.length].index('&') == nil) ? @video.link.length : @video.link[start_pos..@video.link.length].index('&') - 1
video_id = @video.link[start_pos..(start_pos+end_pos)]

%>

<span id="page-content-start"></span>

<section class="normal-section">
  <div class="jumbotron">
    <div class="container">
    <div class="col-md-12 space-bottom">
          <ol class="breadcrumb">
            <li><a href="">Home</a></li>
            <li><%= link_to 'Videos', videos_path %></li>
            <li class="about-person.html"><%= truncate(@video.title, length: 30) %></li>
          </ol>
      </div>      <div class="col-md-12 wow flipInX animation-delay space-bottom">
      <div class="block-filler-transparent videoWrapper">
       <iframe class="video-iframe" src="https://www.youtube.com/embed/<%= video_id %>" frameborder="0" allowfullscreen></iframe>
     </div>
   </div>

 </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <h2><%= @video.title %></h2>
    <p class="color-light">Published on <%= time_tag @video.created_at, pubdate:true %></p>
    <p><%= @video.description %></p>
    <p>
     <%= link_to 'Edit', edit_video_path(@video) %>
     <%= link_to 'Delete', video_path(@video), method: :destroy, data: { confirm: 'Are you sure?'} %>
   </p>

 </div>
</div>
</section>


