<nav class="navbar hidden-xs">
  <div class="container wow fadeInDown">
    <div class="nav-links-left">
      <%= link_to videos_path do %>
      <div class="nav-link">Videos</div>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to '/read_request' do %>
      <div class="nav-link">Read Requests</div>
      <% end %>
      <% else %>
      <%= link_to '/about' do %>
      <div class="nav-link">About</div>
      <% end %>
      <% end %>
    </div>
    <%= link_to root_path do %>
    <div class="logo"><p>A&nbsp;&nbsp;&nbsp;P<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N</p></div>
    <% end %>
    <div class="nav-links-right">
      <% if user_signed_in? %>
      <%= link_to user_path(current_user) do %>
      <div class="nav-link">Profile</div>
      <% end %>
      <% else %>
      <%= link_to '/contact' do %>
      <div class="nav-link">Contact</div>
      <% end %>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to destroy_user_session_path(@user), :method => :delete do %>
      <div class="nav-link">Log Out</div>
      <% end %>
      <% else %>
      <%= link_to 'http://medium.com', :target => "_blank" do %>
      <div class="nav-link">News</div>
      <% end %>
      <% end %>
    </div>
  </div>
</nav>
