<section class="show-case">

 <div class="big-picture">

  <%= render :partial => "shared/bignavbar" %>

  <video class="show-case-video" autoplay loop muted>
    <source src="<%= Content.find(12).media.url %>" type="video/mp4">
    <source src="Show2Intro_4.webm" type="video/webm">
  </video>

      <div class="big-filler align-vert">
        <div class="vert-centered-element">
          <div class="wow fadeInDown" data-wow-offset="-200"><h2 class="showcase-text-1">We Inform...</h2></div>
          <div class="wow fadeInUp" data-wow-offset="-200"><h2 class="showcase-text-2">...and Entertain</h2></div>

        </div>
        <div class="btn-see-down wow bounce animate-infinite" data-wow-offset="-400">
          <div class="glyphicon glyphicon-chevron-down" data-wow-offset="-400"></div>
        </div>
      </div>
  </div>
</section>

  <span id="page-content-start"></span>

  <section>
    <div class="container-fluid">

     <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12 watch-block-show wow flipInX"  style="background-image: url('<%= Content.find(1).media.url(:original) %>')">
        <%= link_to '/videos' do %>
        <div class="block-filler">
          <div class="abs-centered-element">
           <h3 class="block-header-text">Videos</h3>
           <i class="fa fa-play"></i>
         </div>
       </div>
       <% end %>
     </div>
     <div class="col-md-6 col-sm-12 col-xs-12 watch-block-shorts wow flipInX animation-delay"  style="background-image: url('<%= Content.find(2).media.url(:original) %>')">
      <%= link_to '/about' do %>
      <div class="block-filler">
        <div class="abs-centered-element">
         <h3 class="block-header-text">About</h3>
         <i class="fa fa-play"></i>
       </div>
     </div>
     <% end %>
   </div>
 </div>
 <div class="row">
  <div class="col-md-6 col-sm-12 col-xs-12 watch-block-show wow flipInX"  style="background-image: url('<%= Content.find(3).media.url(:original) %>')">
    <%= link_to '/contact' do %>
    <div class="block-filler">
      <div class="abs-centered-element">
       <h3 class="block-header-text">Contact</h3>
       <i class="fa fa-play"></i>
     </div>
   </div>
   <% end %>
 </div>
 <div class="col-md-6 col-sm-12 col-xs-12 watch-block-shorts wow flipInX animation-delay" style="background-image: url('<%= Content.find(4).media.url(:original) %>')">
  <%= link_to 'https://medium.com/@apachenewsapn', :target => "_blank" do %>
  <div class="block-filler">
    <div class="abs-centered-element">
     <h3 class="block-header-text">News</h3>
     <i class="fa fa-play"></i>
   </div>
 </div>
 <% end %>
</div>
</div>
</div>
</section>

<section class="section-muted">
  <div class="container-fluid">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-xs-12 block-muted hideme">
          <h3 class="block-header-pressed-text"><i class="fa fa-check-square-o"></i> Want to Join?</h3>
          <p class="pressed text-muted">
            <%= markdown(Content.find(5).text) %>
          </p>
          <%= link_to '/join', :class => "btn-outline", :style => "padding-left: 25px;" do %>
          <i class="fa fa-check"></i> Learn More
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-suggestions">
  <div class="container-fluid hideme">
    <div class="container">
      <h3 class="block-header-text wow fadeInRight"><i class="fa fa-comments"></i> Have Suggestions?</h3>
      <div class="">
        <% @suggestion = Suggestion.new %>
        <%= form_for @suggestion do |f| %>
        <% if @suggestion.errors.any? %>
        <div id="errors">
          <h4><%= pluralize(@suggestion.errors.count, "error") %> prevented this suggestion from saving</h4>
          <ul>
            <% @suggestion.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <%= f.text_field :subject, class: ['text-box-outline','wow','fadeInUp','col-xs-12'], placeholder: 'Subject' %>
        <%= f.text_area :message, class: ['text-box-outline','wow','fadeInUp','col-xs-12'], placeholder: 'Type message here...', rows: 5 %>
        <%= f.submit :submit_suggestion, value: 'Send', class: ['btn-outline-white','wow','fadeInUp','fill-width'] %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<% content_for :footer do %>
<script>

</script>
<% end %>
