<tr id='user-row-<%= contact.id %>'>
	<td><p><%= contact.org_club %></p></td>
	<td><p><%= contact.full_name %></p></td>
	<td><p><%= contact.sub_date %></p></td>
	<td><p><%= contact.email %></p></td>
	<td><p><%= contact.id_number %></p></td>
	<td><p><%= contact.subject %></p></td>
</tr>
<tr><td colspan="6"><p><%= contact.message %></p></td></tr>